<hr>
<div style="display: flex;justify-content: space-between; padding: 10px; ">

  <h2>Signals Test</h2>
  <img class="lock" src="/assets/svgs/lock.svg">
</div>

<hr>

<input [(ngModel)]="title" type="">
<p>List Items Normal length Parent : {{itemSize()}}</p>
<p>List Items Signal length Parent : {{itemsSignalSize()}}</p>

<hr />

@defer (on viewport) {
 <h5>Done loading, {{title()}}</h5>
 <hr />
 <app-list-items [(items)]="items" [(itemsSignal)]="itemsSignal" />
} @loading {
  Loading…
} @error {
  Loading failed :()
} @placeholder {
  <img class="lock" src="/assets/svgs/lock.svg">
}

